body,html{
    margin: 0;
    padding: 0;
    position: relative;
}
#about-me{
    background-color: #fff;
    position: relative;
        #about-content{
            height: auto;
            .img-personal img{
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
            .cv-info{
                text-align: left;
                .cv-info-title{
                    position: relative;
                    color: #000;
                    font-size: 21px;
                    font-weight: 600;
                    &:after{
                        content: '';
                        height: 3px;
                        width: 30px;
                        background: #000;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        top:38px;
                    }
                }
                .cv-info-detail{
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin: 40px 0 30px 0;
                    h6{font-weight: 300}
                    .progress{
                        height:2px; 
                        margin: 20px 0 30px 0;
                    }
                    .progress-bar{
                        height:2px;
                        position: absolute;
                        background:#FF3636;
                        transition: all 3s;
                        letter-spacing: 0;
                        &:before{
                            content: attr(data-width);
                            margin-top:-15px;
                            position: absolute;
                            right: -10px;
                            border-radius: 10px;
                            font-size: 10px;
                            color:black;
                            font-family: 'Nunito Sans', sans-serif;
                            font-weight: 700;
                        }
                    }
                }
            }
        .cv-edu{
            border-radius: 5px;
            box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.05);
            border: 1px solid #efefef;
            .cv-edu-date{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 700;
                color: #F05033;
                font-size: 13px;
            }
            .cv-edu-school{
                font-size: 15px;
            }
            .cv-edu-detail{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 300;
                font-size: 15px;
                text-align: justify;
            }
        }
        .cv-resume{
            position: relative;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400;
            h5{
                margin-top:15px;
                font-size: 15px;
            }
            a{
                overflow: hidden;
                position: absolute;
                text-align: center;
                height: auto;
                padding: 12px;
                &:before{
                    background: #fff;
                }
            }
        }
    }
}
#technical-skills{
    background:#f6f6f7;
    position: relative;
        .card{
            padding: 3rem;
            z-index: 1;
            &:hover{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                    transition: all 0.5s ease;
                    z-index: 10;
                }
            & img{
                    width: 55px;
                    height:55px;    
                    margin:20px auto 0;
                    border-radius:6px; 
                }
        } 
}
#portfolio{
    background:#fff;
    position: relative;
        .portfolio-card{
            color:white;
            height: 300px;
            min-width: 200px;
            min-height: 100px;
            padding: 0;    
            margin:0;
            overflow: hidden;
            border:none;
            border-radius:0;
            @media screen and (max-width: 476px){
                &{
                    height: 250px;
                }
            }
            @media screen and (max-width: 350px){
                &{
                    height: 200px;
                }
            }
            .face{
                margin:auto;
                top: 0%;
                bottom: 0%;
                left:0%;
                right:0%;
                width:90%;
                position: absolute;
            }
            &:hover .tools{
                opacity: 1;
                background: #F6F6F7;
            }
           &:nth-child(1){
                background: url("https://www.dl.dropboxusercontent.com/s/7l5094i0my9h6yi/laundrywash0.png") center left/cover;

            }
            &:nth-child(2){
                background: url("https://www.dl.dropboxusercontent.com/s/vdgmt3kzozkrity/sweetsunny0.png") center left/cover;
            }
            &:nth-child(3){
                background: url("https://www.dl.dropboxusercontent.com/s/9sp0enz6e15vfp6/genesis0.png") center center/cover;
            }
            &:nth-child(4){
                background: url("https://www.dl.dropboxusercontent.com/s/l7wisb36f058v27/dms0.png") center center/cover;
            }
            &:nth-child(5){
                background: url("https://www.dl.dropboxusercontent.com/s/dhrnycx1dp0m9nx/humbleshop0.png") center center/cover;
            }
            &:nth-child(6){
                background: url("https://www.dl.dropboxusercontent.com/s/izpy5gkc2uvi3yb/tribute0.png") center center/cover;
            }
            .tools{
                opacity: 0;
                text-align: center;
                transition: .5s ease;
                width:100%;
                height:100%;
                h1{
                    color: #000;
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 800;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                div{
                    width:100%;
                    position: absolute;
                    transition: .3s ease;
                    text-align:center;
                    font-size: 20px;
                    padding: 0;
                    span{
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 300;
                        font-size:18px;
                        color: #F05033;
                        padding: 0 10px;
                    }
                @media screen and (max-width: 476px){
                    h1,span{font-size: 16px}
                    .btn-modal{font-size:16px;margin-top: 15px;padding: 5px 20px}
                }                    
                    &:nth-child(1){
                        top:0;
                    }
                    &:nth-child(2){
                        bottom:0;
                    }
                    & button{
                        font-size: 16px;
                        padding: 8px 30px;
                        border: 2px solid #F05033; 
                        color:#000;
                        text-transform: uppercase;
                        background:transparent;
                        transition: all 0.5s ease;
                    }
                    & button:hover{
                        text-decoration: none;
                        background: #F05033;
                        color:#fff;
                        cursor: pointer;
                    }
                }
                &:hover div:nth-child(1){
                    top:24%;
                }
                &:hover div:nth-child(2){
                    bottom:24%;
                }
            }
        }
}
#contact-me{
    background-color: #fff;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    &:before{
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 30%;
        background: #414141;
        height: 1px;
        opacity: 0.2;
    }
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        background: #414141;
        height: 1px;
        opacity: 0.2;
    }
    .contact-details{
        background: #f6f6f7;
        .contact-details-col{
            i{
                font-size: 35px;
                color: #FF3636;
            }
            h5{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 700;
                letter-spacing: 0px;
            }   
            p{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 600;
                color: #818181;
                font-size: 15px;
            }
        }
    }
    .form-control{
        background: transparent;
        padding: 10px 15px;
        border-radius: 0;
        width: 100%;
        border: transparent;
        border: 1px solid #e4e4e4;
        margin-bottom: 15px;
        font-size: 15px;outline: none !important;
        color: #495057;
        .submit-form{
            position: relative; 
        }
    }
}
 

        